osaf/services/saf/avsv/config/AppConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *      -*- OpenSAF  -*-
 *
 *
 * This code is contributed by Emerson Network Power to The OpenSAF Foundation
 * (the "Foundation") OpenSAF Code Project (the "Project") in accordance with
 * the Contribution License Agreement V 1.0 signed on behalf of
 * Emerson Network Power - Embedded Computing Inc. on 7 January 2008.
 *
 * Author(s): Emerson Network Power
 *
-->
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by nitin (nitin) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Subba Rao Rama K (Motorola India Private Limited) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- GLOBAL TYPES -->
	<xs:simpleType name="SGNameT">
		<xs:annotation>
			<xs:documentation>Data type for service group names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safSg=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nodeNameT">
		<xs:annotation>
			<xs:documentation>Data type for node names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safNode=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SINameT">
		<xs:annotation>
			<xs:documentation>Data type for service instance names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safSi=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SUNameT">
		<xs:annotation>
			<xs:documentation>Data type for service unit names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safSu=.+"/>
			<xs:pattern value="safEsu=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CSINameT">
		<xs:annotation>
			<xs:documentation>Data type for component service instance names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safCsi=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="componentNameT">
		<xs:annotation>
			<xs:documentation>Data type for component names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safComp=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HAStateT">
		<xs:annotation>
			<xs:documentation>HA State Enumeration according to the AIS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SA_AMF_ACTIVE"/>
			<xs:enumeration value="SA_AMF_STANDBY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="paramNameListT">
		<xs:annotation>
			<xs:documentation>General Param Name List for CSI Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ParamName" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Attribute name is used to configure saAmfCSTypeParamName mib object.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="name" type="xs:Name" use="required">
						<xs:annotation>
							<xs:documentation>The name of a generic component parameter.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nameValueListT">
		<xs:annotation>
			<xs:documentation>General Name/Value List for CSI Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nameValue" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:Name" use="required">
						<xs:annotation>
							<xs:documentation>The name of a generic component parameter.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="value" type="xs:anySimpleType" use="optional">
						<xs:annotation>
							<xs:documentation>The value string of a generic component parameter. A CSI prototype may omit the value string.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="capabilityT">
		<xs:annotation>
			<xs:documentation>Component Capability Enumeration according to the AIS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="X_ACTIVE_AND_Y_STANDBY"/>
			<xs:enumeration value="X_ACTIVE_OR_Y_STANDBY"/>
			<xs:enumeration value="1_ACTIVE_OR_Y_STANDBY"/>
			<xs:enumeration value="1_ACTIVE_OR_1_STANDBY"/>
			<xs:enumeration value="X_ACTIVE"/>
			<xs:enumeration value="1_ACTIVE"/>
			<xs:enumeration value="NO_STATE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="recommendedRecoveryT">
		<xs:annotation>
			<xs:documentation>Recommended Error Recovery</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SA_AMF_NO_RECOMMENDATION"/>
			<xs:enumeration value="SA_AMF_COMPONENT_RESTART"/>
			<xs:enumeration value="SA_AMF_COMPONENT_FAILOVER"/>
			<xs:enumeration value="SA_AMF_SU_RESTART"/>
			<xs:enumeration value="SA_AMF_SU_FAILOVER"/>
			<xs:enumeration value="SA_AMF_NODE_SWITCHOVER"/>
			<xs:enumeration value="SA_AMF_NODE_FAILOVER"/>
			<xs:enumeration value="SA_AMF_NODE_FAILFAST"/>
			<xs:enumeration value="SA_AMF_CLUSTER_RESET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="vendorExtensionsT">
		<xs:annotation>
			<xs:documentation>Vendor Specific Extensions</xs:documentation>
		</xs:annotation>
		<xs:attribute name="vendorName" type="xs:Name" use="optional"/>
	</xs:complexType>
	<!-- COMPONENTS-->
	<xs:complexType name="amfComponentT">
		<xs:annotation>
			<xs:documentation>Attributes of Components with full AMF support (SA aware or proxied components)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="capability" type="capabilityT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Active/standby capability model supported by the component. Use to configure  the saAmfCompCapability mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numMaxActiveCSIs" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The maximum number of Active CSIs which can be assigned to the component. Use to configure the saAmfCompNumMaxActiveCsi mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numMaxStandbyCSIs" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The maximum number of standby CSIs which can be assigned to the component. Use to configure the saAmfCompNumMaxStandbyCsi.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="healthCheck" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Healthcheck Attributes</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="healthCheckT">
							<xs:attribute name="key" use="required">
								<xs:annotation>
									<xs:documentation>Use to configure the saAmfHealthCheckKey mib object.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:hexBinary">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="disableRestart" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If true, this component cannot be restarted.  Use to configure the saAmfCompDisableRestart mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuiescingDoneTimeout" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time in milliseconds in which the AMF expects an saAmfCSIQuiescingComplete() call from the component after a preceding CSI set callback initiation from active->quiescing HA state.  Note this is not a timeout for saAMFResponse(). A value of 0 means that the AMF should use a default value instead. Use to configure the saAmfCompQuiescingCompleteTimeout mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="terminationTimeout" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time in milliseconds in which the AMF expects an SaAmfResponse call from the component after a preceding callback to terminate the component. A value of 0 means that the AMF should use a default value instead. If a component has not responded within terminationTimeout milliseconds it will be shut down by executing the termination command. Use to configure the saAmfCompTerminateCallbackTimeOut mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csiSetCallbackTimeout" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time in milliseconds in which the AMF expects an SaAmfResponse call from the component after a preceding       CSI set callback initiation. A value of 0 means that the AMF should use a default value instead. Use to configure the saAmfCompCSISetCallbackTimeout mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csiRmvCallbackTimeout" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time in milliseconds in which the AMF expects an SaAmfResponse call from the component after a preceding CSI Remove callback initiation. A value of 0 means that the AMF  should use a default value instead. Use to configure the saAmfCompCSIRmvCallbackTimeout mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recoveryOnTimeout" type="recommendedRecoveryT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Recommended Recovery for AMF callback response timeouts. Use to configure the saAmfCompRecoveryOnError  mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="clcParams">
		<xs:annotation>
			<xs:documentation>Parameters common to all CLC commands</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="command" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The actual CLC command string, including path and command parameters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timeout" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Timeout value for the command.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="clcCommandT">
		<xs:annotation>
			<xs:documentation>Component Scripts (all optional)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="instantiateCommand" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The description of the instantiate command of the CLC-CLI. Use to configure mib object. Child tag "command" is used to configure saAmfCompInstantiateCmd mib object and Child tag "timeout" is used to configure saAmfCompInstantiateTimeout mib object.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="clcParams"/>
						<xs:element name="numMaxInstantiate" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of immediate instantiation retries before switching to delayed retries. Use to configure saAmfCompNumMaxInstantiate mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0">
							<xs:element name="numMaxInstwithDelay">
								<xs:annotation>
									<xs:documentation>Number of delayed instantiation retries before giving up. Use to configure saAmfCompNumMaxInstantiateWithDelay mib object.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="delaybetweenInstantiateAttempts">
								<xs:annotation>
									<xs:documentation>Interval in milliseconds between delayed retry attempts. Use to configure saAmfCompDelayBetweenInstantiateAttempts mib object.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="terminateCommand" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The description of the terminate command of the CLC-CLI. Child tag "command" is used to configure saAmfCompTerminateCmd mib object and Child tag "timeout" is used to configure saAmfCompTerminateTimeout mib object.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="clcParams"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cleanupCommand" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The description of the cleanup command of the CLC-CLI. Child tag "command" is used to configure saAmfCompCleanupCmd mib object and Child tag "timeout" is used to configure saAmfCompCleanupTimeout mib object.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="clcParams"/>
						<xs:element name="nodeRebootCleanupFail" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>If set to true and the cleanup command fails, start a node failover and reboot the node. Use to configure saAmfCompNodeRebootCleanupFail mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="amStartCommand" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The description of the am_start command of the CLC-CLI. Child tag "command" is used to configure saAmfCompAmStartCmd mib object and Child tag "timeout" is used to configure saAmfCompAmStartTimeout mib object.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="clcParams"/>
						<xs:element name="maxAmStartRetries" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of AM start retries before giving up. Use to configure saAmfCompNumMaxAmStartAttempts mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="amStopCommand" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The description of the am_stop command of the CLC-CLI. Child tag "command" is used to configure saAmfCompAmStopCmd mib object and Child tag "timeout" is used to configure saAmfCompAmStopTimeout mib object.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="clcParams"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="healthCheckT">
		<xs:annotation>
			<xs:documentation>Healthcheck Type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="period" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>A healthcheck is run every "period" milliseconds. Use to configure the saAmfHealthCheckPeriod mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxDuration" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>Time in milliseconds during which the AMF expects the response to a healthcheck. Use to configure the saAmfHealthCheckMaxDuration mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="componentAttributesT">
		<xs:annotation>
			<xs:documentation>Component Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="clcCommands" type="clcCommandT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The component life cycle scripts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="instantiationLevel" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order number of instantiation when an SU is started. Use to configure saAmfCompInstantiationLevel mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csiPrototypeName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of CSI prototype.  Only CSIs derived from this prototype may be assigned to the component. Use to configure saAmfCompCSTypeSupportedCSIName mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="saAwareComponent" type="amfComponentT">
					<xs:annotation>
						<xs:documentation>Specific attributes for SA-aware components. This value is used to configure saAmfCompCategory mib object.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="proxiedComponent">
					<xs:annotation>
						<xs:documentation>Specific attributes for proxiedl components. This value is used to configure saAmfCompCategory mib object.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="amfComponentT">
								<xs:sequence>
									<xs:element name="proxiedCompInstCbTimeout" type="xs:nonNegativeInteger" nillable="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time in milliseconds in which the AMF expects anSaAmfResponse call from the component after a preceding proxied component instantiate callback initiation. A value of 0 means that the AMF should use a default value instead. Use to configure the saAmfCompProxiedCompInstantiateCallbackTimeout mib object.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="proxiedCompCleanCbTimeout" type="xs:nonNegativeInteger" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time in milliseconds in which the AMF expects anSaAmfResponse call from the component after a preceding proxied component cleanup callback initiation. A value of 0 means that the AMF should use a default value instead. Use to configure the saAmfCompProxiedCompCleanupCallbackTimeout mib object.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="registrationTimeout" type="xs:nonNegativeInteger" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time in milliseconds in which the AMF expects this proxied component to be  registered by its proxy. Use to configure the saAmfCompInstantiateTimeout mib object.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="registrationRetries" type="xs:nonNegativeInteger" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Number of times the AMF will scheduke the registrationTimeout in anticipation of successful registration before it declares the component to be faulty. Use to configure the saAmfCompNumMaxInstantiate mib object.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="preInstantiable" type="xs:boolean" use="required"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>

				<xs:element name="unproxiedComponent">
					<xs:annotation>
						<xs:documentation>There are no specific attributes defined for unproxied components. This value is used to configure saAmfCompCategory mib object.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="disableRestart" type="xs:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>If true, this component cannot be restarted. Use to configure saAmfCompDisableRestart mib object.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="enableAM" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Use to configure saAmfCompAMEnable mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorExtensions" type="vendorExtensionsT" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="componentPrototype">
		<xs:annotation>
			<xs:documentation>Component Prototype - Attributes: name, "next" prototype, final yes/no</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="componentAttributesT">
					<xs:attribute name="name" type="componentNameT" use="required"/>
					<xs:attribute name="prototypeName" type="componentNameT" use="optional"/>
					<xs:attribute name="finalPrototype" type="xs:boolean" use="required">
						<xs:annotation>
							<xs:documentation>If value of finalPrototype is set to 1 then parser automatically will create the RDN for this component and If value of finalPrototype is set to 0 then this prototype should be inherited in the componentDescriptor to generate RDN for this component.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- COMPONENT SERVICE INSTANCES-->
	<xs:complexType name="CSIAttributesT">
		<xs:annotation>
			<xs:documentation> CSI Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nameValueList" type="nameValueListT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Generic name / value list for CSI-specific parameters. Typically prototypes define only the parameter names while descriptors also have parameter value strings added. Child tag  "name" is used to configure saAmfCSINameValueParamName and child tag "value" is used to configure saAmfCSINameValueParamValue mib objects.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorExtensions" type="vendorExtensionsT" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CSIPrototype">
		<xs:annotation>
			<xs:documentation> Component Service Instance  Prototype - Attributes: name, "next" prototype, base yes/no</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="paramNameListT">
					<xs:attribute name="name" type="CSINameT" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- SERVICE UNITS-->
	<xs:complexType name="SUAttributesT">
		<xs:annotation>
			<xs:documentation>Service Unit Prototype Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="adminstate" type="AdminstateT" default="unlocked" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the service unit shall be started into the locked state by default or not. Use this tag to configure saAmfSUAdminState mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SUFailover" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If true, the failover of a component within the SU causes a failover of the entire SU. This makes only sense for SUs in N-Way or N+M SGs. Use this tag to configure saAmfSUFailOver mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorExtensions" type="vendorExtensionsT" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SUPrototype">
		<xs:annotation>
			<xs:documentation>Service Unit Prototype - Attributes: name,  final yes/no</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SUAttributes" type="SUAttributesT" minOccurs="0"/>
				<xs:element name="componentPrototypeList" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A list of component prototype elements within the service unit prototype.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="componentPrototype" type="componentNameT" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Component prototype names</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="SUNameT" use="required"/>
			<xs:attribute name="finalPrototype" type="xs:boolean" use="required">
				<xs:annotation>
					<xs:documentation>If value of finalPrototype is set to 1 then parser automatically will create the RDN for this SU and If value of finalPrototype is set to 0 then this prototype should be inherited in the suDescriptor to generate RDN for this su.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>


<!-- External Service Unit Instance Design Starts Here -->

<xs:element name="extSUInstance">
<xs:annotation>
<xs:documentation>Descriptor for an external service unit instance</xs:documentation>
</xs:annotation>
<xs:complexType>

<xs:sequence>

<xs:element name="prototypeName" type="SUNameT" minOccurs="0">
<xs:annotation>
<xs:documentation>Service unit prototype name</xs:documentation>
</xs:annotation>
</xs:element>

<xs:element name="SUAttributes" type="SUAttributesT" minOccurs="0">
<xs:annotation>
<xs:documentation>Service Unit Attributes - If a service unit prototypeName is specified, these attributes override the ones from the prototype.</xs:documentation>
</xs:annotation>
</xs:element>

<xs:element name="componentList" minOccurs="0">
<xs:annotation>
<xs:documentation>List of component Instance for the service unit. saAmfSUNumComponents mib object is configured based on number of component Instance  inside this list.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="componentInstance" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Component Instance</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="prototypeName" type="componentNameT" minOccurs="0">
<xs:annotation>
<xs:documentation>Component prototype name</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="componentAttributes" type="componentAttributesT" minOccurs="0">
<xs:annotation>
<xs:documentation>Component Attributes - If a component prototypeName is specified, these attributes override the ones from the prototype.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="name" type="componentNameT" use="required">
<xs:annotation>
<xs:documentation>Use to configure the saAmfCompName mib object.</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

</xs:sequence>

<xs:attribute name="name" type="SUNameT" use="required"/>
</xs:complexType>
</xs:element>

<!-- External Service Unit Instance Design Ends Here -->


	<!-- SERVICE INSTANCES -->
	<xs:element name="SIInstance">
		<xs:annotation>
			<xs:documentation>Service Instance Instance</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CSIList">
					<xs:annotation>
						<xs:documentation>List of CSI descriptors which comprise the SI.  Number of CSI Descriptiors in this list is counted and Use to configure the saAmfSINumCSIs mib object</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CSIInstance" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Component Service Instance Descriptor</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="prototypeName" type="CSINameT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The name of the CSI prototype which the descriptor is based on.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CSIAttributes" type="CSIAttributesT">
											<xs:annotation>
												<xs:documentation>CSI descriptor attributes (overriding the prototype attributes if a prototypeName is specified)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="CSINameT" use="required">
										<xs:annotation>
											<xs:documentation>Use to configure saAmfCSIName mib object.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="rank" type="xs:nonNegativeInteger" use="optional">
										<xs:annotation>
											<xs:documentation>Use to configure saAmfCSIRank mib object</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
                                <!-- SI-SI Dependency cfgs AMF_SI_SI -->
                                <xs:element name="SIDepList" minOccurs="0">
                                        <xs:annotation>
                                                <xs:documentation>List of sponsor-SIs on which SI is depended on for SI-assignment.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                                <xs:sequence>
                                                        <xs:element name="SIDep" maxOccurs="unbounded">
                                                                <xs:annotation>
                                                                        <xs:documentation>Sponsor-SI name and the associated tolerance timer value</xs:documentation>
                                                                </xs:annotation>
                                                                <xs:complexType>
                                                                        <xs:attribute name="name" type="SINameT"/>
                                                                        <xs:attribute name="tolTime" type="xs:nonNegativeInteger"/>
                                                                </xs:complexType>
                                                        </xs:element>
                                                </xs:sequence>
                                        </xs:complexType>
                                </xs:element>
				<xs:element name="SURankList" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ranking list of SUs for SI assignments. This attribute has lower precedence than the SG redundancy parameters.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="SU" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>SU names and order numbers</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="SUName" type="SUNameT">
										<xs:annotation>
											<xs:documentation>Use to configure saAmfSUsperSISUName mib object.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="rank" type="xs:nonNegativeInteger">
										<xs:annotation>
											<xs:documentation>Use to configure saAmfSUsperSIRank mib object.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="preferredNumOfAssignments" type="xs:unsignedShort" default="1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The Preferred number of active assignment per SI in N-Way active and Preferred number of standby assignments per SI in N-Way redundancy model. Use to configure the saAmfSIPrefNumAssignments  mib object</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="SINameT" use="required">
				<xs:annotation>
					<xs:documentation>The name of the service instance. Use to configure the saAmfSIName and saAmfSUsperSIName mib object</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- SERVICE GROUPS -->
	<xs:complexType name="redundancyModelT">
		<xs:annotation>
			<xs:documentation>The Different Redundancy Models</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="model_2N">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SURankList" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The "preferred" active/standby configuration of service units. </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SU" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Attributes: service unit name and SU order number</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="SUName" type="SUNameT" use="required">
												<xs:annotation>
													<xs:documentation>Use this tag to configure saAmfSUName mib object. </xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required">
												<xs:annotation>
													<xs:documentation>Use this tag to configure saAmfSURank mib object</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="numPrefInserviceSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number  of instantiated service units. If > 2, one or more service units are "spare". Use this tag to configure saAmfSGNumPrefInserviceSUs mib object</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failbackOption" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Determines whether service units of this group fail back to the preferred configuration or not. Use this tag to configure  saAmfSGFailbackOption mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="model_NplusM">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SURankList" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The preferred order of SUs for active/standby assignments</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SU" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Attributes: service unit name and order number</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="SUName" type="SUNameT" use="required">
												<xs:annotation>
													<xs:documentation>Use this tag to configure saAmfSUName mib object.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required">
												<xs:annotation>
													<xs:documentation>Use this tag to configure saAmfSURank mib object.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="numPrefInserviceSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number of instantiated SUs. Use this tag to configure saAmfSGNumPrefInserviceSUs mib object</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="numPrefActiveSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number  of active SUs (the "N" from "N+M"). Use this tag to configure saAmfSGNumPrefActiveSUs mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="numPrefStandbySUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number of standby SUs (the "M" from "N+M"). Use this tag to configure saAmfSGNumPrefStandbySUs mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maxActiveSIsperSU" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of active SIs per SU (0 = no limit). Use this tag to configure saAmfSGMaxActiveSIsperSU mib object</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maxStandbySIsperSU" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of standby SIs per SU (0 = no limit). Use this tag to configure saAmfSGMaxStandbySIsperSU mib object</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failbackOption" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Determines whether service units of this group fail back to the preferred configuration or not. Use this tag to configure  saAmfSGFailbackOption mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="model_NWay">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SURankList" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The preferred order of SUs for active/standby assignments</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SU" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Attributes: service unit  name and order number </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="SUName" type="SUNameT" use="required">
												<xs:annotation>
													<xs:documentation>Use this tag to configure saAmfSUName mib object.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required">
												<xs:annotation>
													<xs:documentation>Use this tag to configure saAmfSURank mib object.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="numPrefInserviceSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number of instantiated SUs. Use this tag to configure saAmfSGNumPrefInserviceSUs mib object</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="numPrefAssignedSUs" type="xs:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The preferred number of  SUs with assigned SIs. Use this tag to configure saAmfSGNumPrefAssignedSUs  mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maxActiveSIsperSU" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of active SIs per SU (0 = no limit). Use this tag to configure saAmfSGMaxActiveSIsperSU mib object</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maxStandbySIsperSU" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of standby SIs per SU (0 = no limit). Use this tag to configure saAmfSGMaxStandbySIsperSU mib object</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failbackOption" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Determines whether service units of this group fail back to the preferred configuration or not. Use this tag to configure  saAmfSGFailbackOption mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="model_NWayActive">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SURankList" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The "preferred" active/standby configuration of service units. </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SU" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Attributes: service unit name and SU order number</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="SUName" type="SUNameT" use="required">
												<xs:annotation>
													<xs:documentation>Use this tag to configure saAmfSUName mib object.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required">
												<xs:annotation>
													<xs:documentation>Use this tag to configure saAmfSURank mib object.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="numPrefInserviceSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number  of instantiated service units. If > 2, one or more service units are "spare". Use this tag to configure saAmfSGNumPrefInserviceSUs mib object</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="numPrefAssignedSUs" type="xs:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The preferred number of  SUs with assigned SIs. Use this tag to configure saAmfSGNumPrefAssignedSUs  mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maxActiveSIsperSU" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of active SIs per SU (0 = no limit). Use this tag to configure saAmfSGMaxActiveSIsperSU mib object</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failbackOption" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Determines whether service units of this group fail back to the preferred configuration or not. Use this tag to configure  saAmfSGFailbackOption mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="noRedundancy">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SURankList" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The "preferred" active/standby configuration of service units. </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SU" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Attributes: service unit name and SU order number</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="SUName" type="SUNameT" use="required">
												<xs:annotation>
													<xs:documentation>Use this tag to configure saAmfSUName mib object.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required">
												<xs:annotation>
													<xs:documentation>Use this tag to configure saAmfSURank mib object.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="numPrefInserviceSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number  of instantiated service units. If > 2, one or more service units are "spare". Use this tag to configure saAmfSGNumPrefInserviceSUs mib object</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failbackOption" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Determines whether service units of this group fail back to the preferred configuration or not. Use this tag to configure  saAmfSGFailbackOption mib object.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SGErrorEscalationT">
		<xs:annotation>
			<xs:documentation>Error Escalation Parameters - must be consistent with the restart properties of the components and service units</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="componentRestartMax" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Maximum number of components to be restarted for a COMPONENT_RESTART recovery. Use this tag to configure saAmfSGCompRestartMax mib object</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="componentRestartProbation" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Time period during which the AMF counts the number of components to be restarted within a COMPONENT_RESTART recovery. Use this tag to configure saAmfSGCompRestartProb mib object</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SURestartMax" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Maximum number of service units to be restarted for a SU_RESTART recovery. Use this tag to configure saAmfSGSuRestartMax mib object</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SURestartProbation" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Time period during which the AMF counts the number of service units to be restarted within a SU_RESTART recovery. Use this tag to configure saAmfSGSuRestartProb mib object</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SGInstance">
		<xs:annotation>
			<xs:documentation>Service Group Instance</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="redundancyModel" type="redundancyModelT">
					<xs:annotation>
						<xs:documentation>Used redundancy model and parameters which describe it in detail. Value specified here is use to set the saAmfSGRedModel mib object.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SGErrorEscalation" type="SGErrorEscalationT">
					<xs:annotation>
						<xs:documentation>Parameters which control component and service unit restarts after an error which requires restarts </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SIList">
					<xs:annotation>
						<xs:documentation>List of SI Instance names which may be assigned to the service group</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SI" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>This the ranked SI list</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="SINameT">
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="optional">
												<xs:annotation>
													<xs:documentation>Use to configure saAmfSIRank mib object.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="adminstate" type="AdminstateT" default="unlocked" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The value "0" or "false" means SG admin state will be configured as unlocked and value "1" or "true" means that this SG admin state will be configured as locked. </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="SGNameT" use="required">
				<xs:annotation>
					<xs:documentation>The name of the service group. This tag is used to set the  saAmfSGName, saAmfSUParentSGName and saAmfSIParentSGName  mib objects.  </xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- NODES -->
	<xs:complexType name="nodeErrorEscalationT">
		<xs:annotation>
			<xs:documentation>Node-specific Error Escalation Parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SUFailoverMax" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Maximum number of service units to be failed over for a SU_FAILOVER recovery. Use this tag to set the value of saAmfNodeSuFailoverMax mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SUFailoverProbation" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Time period during which the AMF counts the number of service units to be failed over within a SU_FAILOVER recovery. Use this tag to set the value of saAmfNodeSuFailoverProb mib object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nodeAttributesT">
		<xs:annotation>
			<xs:documentation>Node Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nodeErrorEscalation" type="nodeErrorEscalationT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Node-specific error escalation parameters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adminstate" type="AdminstateT" default="unlocked" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Determines whether all SUs on the node are started into the "locked" state. Use this tag to set the value of saAmfNodeAdminState mib object </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorExtensions" type="vendorExtensionsT" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="nodePrototype">
		<xs:annotation>
			<xs:documentation>Cluster Node Prototype - Attribute: name</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nodeAttributes" type="nodeAttributesT" minOccurs="0"/>
				<xs:element name="SUFinalPrototypeList" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List of names of SU final prototypes which can be instantiated on the node</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SUFinalPrototype" type="SUNameT" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="nodeNameT" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nodeInstance">
		<xs:annotation>
			<xs:documentation>Cluster node Instance</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="prototypeName" type="nodeNameT" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The name of the prototype which the descriptor is based on.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nodeAttributes" type="nodeAttributesT" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Node attributes - If a node prototypeName is specified, these attributes override the ones from the prototype. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SUList" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List of service unit Instance for the node. </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SUInstance" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Service Unit Instance</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="prototypeName" type="SUNameT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Service unit prototype name</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SUAttributes" type="SUAttributesT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Service Unit Attributes - If a service unit prototypeName is specified, these attributes override the ones from the prototype.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="componentList" minOccurs="0">
											<xs:annotation>
												<xs:documentation>List of component Instance for the service unit. saAmfSUNumComponents mib object is configured based on number of component Instance  inside this list.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="componentInstance" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Component Instance</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="prototypeName" type="componentNameT" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Component prototype name</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="componentAttributes" type="componentAttributesT" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Component Attributes - If a component prototypeName is specified, these attributes override the ones from the prototype.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name" type="componentNameT" use="required">
																<xs:annotation>
																	<xs:documentation>Use to configure the saAmfCompName mib object.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="SUNameT" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="nodeNameT" use="required">
				<xs:annotation>
					<xs:documentation>The name of the node. Use this tag to set the value of saAmfNodeName mib object. </xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ROOT ELEMENT-->
	<xs:element name="AMFConfig">
		<xs:annotation>
			<xs:documentation>Root Element for the SAF Configuration</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="componentPrototype" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CSIPrototype" maxOccurs="unbounded"/>
				<xs:element ref="SUPrototype" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SIInstance" maxOccurs="unbounded"/>
				<xs:element ref="SGInstance" maxOccurs="unbounded"/>
				<xs:element ref="nodePrototype" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="nodeInstance" maxOccurs="unbounded"/>
				<xs:element ref="extSUInstance" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="cluster" type="xs:Name" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="AdminstateT">
		<xs:annotation>
			<xs:documentation>Data Type for the default initial admin state of an object</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="locked"/>
			<xs:enumeration value="unlocked"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="APPConfig">
		<xs:annotation>
			<xs:documentation>Root element for the Application software Configuration</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AMFConfig" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>

