config/NCSConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by nitin (nitin) -->
<!--
 *      -*- OpenSAF  -*-
 *
 * (C) Copyright 2008 The OpenSAF Foundation
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. This file and program are licensed
 * under the GNU Lesser General Public License Version 2.1, February 1999.
 * The complete license can be accessed from the following location:
 * http://opensource.org/licenses/lgpl-license.php
 * See the Copying file included with the OpenSAF distribution for full
 * licensing terms.
 *
 * Author(s): Emerson Network Power
 *
-->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Subba Rao Rama K (Motorola India Private Limited) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- GLOBAL TYPES -->
	<xs:simpleType name="SGNameT">
		<xs:annotation>
			<xs:documentation>Data type for service group names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safSg=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nodeNameT">
		<xs:annotation>
			<xs:documentation>Data type for node names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safNode=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SINameT">
		<xs:annotation>
			<xs:documentation>Data type for service instance names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safSi=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SUNameT">
		<xs:annotation>
			<xs:documentation>Data type for service unit names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safSu=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CSINameT">
		<xs:annotation>
			<xs:documentation>Data type for component service instance names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safCsi=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="componentNameT">
		<xs:annotation>
			<xs:documentation>Data type for component names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="safComp=.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HAStateT">
		<xs:annotation>
			<xs:documentation>HA State Enumeration according to the AIS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SA_AMF_ACTIVE"/>
			<xs:enumeration value="SA_AMF_STANDBY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="EntityDeploymentInstance" type="EntityDeploymentInstanceT">
		<xs:annotation>
			<xs:documentation>The Instances for the entities that are being deployed in the current &apos;System-Configuration&apos;.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EntityDeploymentInstanceT">
		<xs:sequence>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the descriptor of the deployed entity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EntityTypeInstanceName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the type descriptor of the entity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NodeName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the Node</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EntityLocation" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>The HPI location number of the entity being deployed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HPIEntityType" type="saHPIEntityTypeT">
				<xs:annotation>
					<xs:documentation>The HPI entity type as defined by SAF HPI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isActivationSourceNCS" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>This variable indicates the source of the activation and power up of the entity. If set to 1, entity will be controlled by shelf manager. If set to 2 the entity will be validated by the NCS and hotswap states are managed by NCS. If set to 3, entity will not be validated but controlled by NCS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="netBoot">
					<xs:annotation>
						<xs:documentation>The preferred choice of boot is netBoot</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tftpServIP" type="xs:string">
								<xs:annotation>
									<xs:documentation>The IP address of the TFTP server for DHCP configuration</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="label1Name" type="xs:string">
								<xs:annotation>
									<xs:documentation>User provided label Name to identify the software to be loaded.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="label1FileName" type="xs:string">
								<xs:annotation>
									<xs:documentation>The DHCP server configuration filename.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="preferredLabel" type="xs:string">
								<xs:annotation>
									<xs:documentation>The label to be used on next power cycle.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="label2Name" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>User provided label Name to identify the software to be loaded.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="label2FileName" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The DHCP server configuration filename</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="diskBoot">
					<xs:annotation>
						<xs:documentation>The preferred choice of boot is diskBoot</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="dependsOnForActivation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This entity is dependent on the entity described by this tag and requres that entity to be activated before this is activated.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="EntityDeploymentInstanceName" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>The name of the type Instance  of the entity.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="contains" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The list of entities that are children of this entity.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="EntityDeploymentInstance" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="saHPIEntityTypeT" final="restriction">
		<xs:annotation>
			<xs:documentation>Enumerated Entity Type as defined by SAF HPI</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SAHPI_ENT_SYSTEM_BOARD"/>
			<xs:enumeration value="SAHPI_ENT_PROCESSOR_MODULE"/>
			<xs:enumeration value="SAHPI_ENT_PROCESSOR"/>
			<xs:enumeration value="SAHPI_ENT_POWER_SUPPLY"/>
			<xs:enumeration value="SAHPI_ENT_PROCESSOR_BOARD"/>
			<xs:enumeration value="SAHPI_ENT_ADVANCEDTCA_CHASSIS"/>
			<xs:enumeration value="SAHPI_ENT_SYSTEM_CHASSIS"/>
			<xs:enumeration value="SAHPI_ENT_RACK"/>
			<xs:enumeration value="SAHPI_ENT_SYSTEM_BLADE"/>
			<xs:enumeration value="SAHPI_ENT_SWITCH_BLADE"/>
			<xs:enumeration value="SAHPI_ENT_IO_BLADE"/>
			<xs:enumeration value="SAHPI_ENT_IO_SUBBOARD"/>
			<xs:enumeration value="SAHPI_ENT_SBC_SUBBOARD"/>
			<xs:enumeration value="SAHPI_ENT_SUBBOARD_CARRIER_BLADE"/>
			<xs:enumeration value="SAHPI_ENT_PHYSICAL_SLOT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="nameValueListT">
		<xs:annotation>
			<xs:documentation>General Name/Value List for CSI Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nameValue" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:Name" use="required">
						<xs:annotation>
							<xs:documentation>The name of a generic component parameter.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="value" type="xs:anySimpleType" use="optional">
						<xs:annotation>
							<xs:documentation>The value string of a generic component parameter. A CSI prototype may omit the value string.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="capabilityT">
		<xs:annotation>
			<xs:documentation>Component Capability Enumeration according to the AIS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="X_ACTIVE_AND_Y_STANDBY"/><xs:enumeration value="X_ACTIVE_OR_Y_STANDBY"/>
			<xs:enumeration value="1_ACTIVE_OR_Y_STANDBY"/><xs:enumeration value="1_ACTIVE_OR_1_STANDBY"/>
			<xs:enumeration value="X_ACTIVE"/>
			<xs:enumeration value="1_ACTIVE"/>
			<xs:enumeration value="NO_STATE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="recommendedRecoveryT">
		<xs:annotation>
			<xs:documentation>Recommended Error Recovery</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SA_AMF_NO_RECOMMENDATION"/><xs:enumeration value="SA_AMF_COMPONENT_RESTART"/>
			<xs:enumeration value="SA_AMF_COMPONENT_FAILOVER"/><xs:enumeration value="SA_AMF_SU_RESTART"/>
			<xs:enumeration value="SA_AMF_SU_FAILOVER"/><xs:enumeration value="SA_AMF_NODE_SWITCHOVER"/>
			<xs:enumeration value="SA_AMF_NODE_FAILOVER"/>
			<xs:enumeration value="SA_AMF_NODE_FAILFAST"/>
			<xs:enumeration value="SA_AMF_CLUSTER_RESET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="vendorExtensionsT">
		<xs:annotation>
			<xs:documentation>Vendor Specific Extensions</xs:documentation>
		</xs:annotation>
		<xs:attribute name="vendorName" type="xs:Name" use="optional"/>
	</xs:complexType>
	<!-- COMPONENTS-->
	<xs:complexType name="amfComponentT">
		<xs:annotation>
			<xs:documentation>Attributes of Components with full AMF support (SA aware or proxied components)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="capability" type="capabilityT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Active/standby capability model supported by the component.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numMaxActiveCSIs" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The maximum number of Active CSIs which can be assigned to the component.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numMaxStandbyCSIs" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The maximum number of standby CSIs which can be assigned to the component.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="healthCheck" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Healthcheck Attributes</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="healthCheckT">
							<xs:attribute name="key" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
                                                                                <xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="disableRestart" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If true, this component cannot be restarted</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuiescingDoneTimeout" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time in milliseconds in which the AMF expects an saAmfCSIQuiescingComplete() call from the component after a preceding CSI set callback initiation from active-&gt;quiescing HA state.  Note this is not a timeout for saAMFResponse().
A value of 0 means that the AMF should use a default value instead.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="terminationTimeout" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time in milliseconds in which the AMF expects an SaAmfResponse call from the component after a preceding callback to terminate the component. A value of 0 means that the AMF should use a default value instead.
If a component has not responded within terminationTimeout milliseconds it will be shut down by executing the termination command.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csiSetCallbackTimeout" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time in milliseconds in which the AMF expects an SaAmfResponse call from the component after a preceding       CSI set callback initiation. A value of 0 means that the AMF
should use a default value instead.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csiRmvCallbackTimeout" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time in milliseconds in which the AMF expects an SaAmfResponse call from the component after a preceding CSI Remove callback initiation. A value of 0 means that the AMF  should use a default value instead.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recoveryOnTimeout" type="recommendedRecoveryT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Recommended Recovery for AMF callback response timeouts </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="clcParams">
		<xs:annotation>
			<xs:documentation>Parameters common to all CLC commands</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="command" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The actual CLC command string, including path and command parameters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timeout" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Timeout value for the command.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="clcCommandT">
		<xs:annotation>
			<xs:documentation>Component Scripts (all optional)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="instantiateCommand" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The description of the instantiate command of the CLC-CLI.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="clcParams"/>
						<xs:element name="numMaxInstantiate" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of immediate instantiation retries before switching to delayed retries </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence minOccurs="0">
							<xs:element name="numMaxInstwithDelay">
								<xs:annotation>
									<xs:documentation>Number of delayed instantiation retries before giving up</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="delaybetweenInstantiateAttempts">
								<xs:annotation>
									<xs:documentation>Interval in milliseconds between delayed retry attempts</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="terminateCommand" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The description of the terminate command of the CLC-CLI.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="clcParams"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cleanupCommand" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The description of the cleanup command of the CLC-CLI.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="clcParams"/>
						<xs:element name="nodeRebootCleanupFail" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>If set to true and the cleanup command fails, start a node failover and reboot the node</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="amStartCommand" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The description of the am_start command of the CLC-CLI.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="clcParams"/>
						<xs:element name="maxAmStartRetries" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of AM start retries before giving up</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="amStopCommand" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The description of the am_stop command of the CLC-CLI.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="clcParams"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="healthCheckT">
		<xs:annotation>
			<xs:documentation>Healthcheck Type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="period" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>A healthcheck is run every &quot;period&quot; milliseconds</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxDuration" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>Time in milliseconds during which the AMF expects the response to a healthcheck</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="componentAttributesT">
		<xs:annotation>
			<xs:documentation>Component Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="clcCommands" type="clcCommandT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The component life cycle scripts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="instantiationLevel" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order number of instantiation when an SU is started.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csiPrototypeName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of CSI prototype.  Only CSIs derived from this prototype may be assigned to the component.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="saAwareComponent" type="amfComponentT">
					<xs:annotation>
						<xs:documentation>Specific attributes for SA-aware components.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="proxiedComponent">
					<xs:annotation>
						<xs:documentation>Specific attributes for proxiedl components.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="amfComponentT">
								<xs:sequence>
									<xs:element name="proxiedCompInstCbTimeout" type="xs:nonNegativeInteger" nillable="true" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time in milliseconds in which the AMF expects anSaAmfResponse call from the component after a preceding proxied component instantiate callback initiation. A value of 0 means that the AMF should use a default value instead</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="proxiedCompCleanCbTimeout" type="xs:nonNegativeInteger" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time in milliseconds in which the AMF expects anSaAmfResponse call from the component after a preceding proxied component cleanup callback initiation. A value of 0 means that the AMF should use a default value instead</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="registrationTimeout" type="xs:nonNegativeInteger" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Time in milliseconds in which the AMF expects this proxied component to be  registered by its proxy.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="registrationRetries" type="xs:nonNegativeInteger" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Number of times the AMF will scheduke the registrationTimeout in anticipation of successful registration before it declares the component to be faulty.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="preInstantiable" type="xs:boolean" use="required"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="unproxiedComponent">
					<xs:annotation>
						<xs:documentation>There are no specific attributes defined for unproxied components.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="disableRestart" type="xs:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>If true, this component cannot be restarted</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="enableAM" type="xs:boolean" default="false" minOccurs="0"/>
			<xs:element name="vendorExtensions" type="vendorExtensionsT" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="componentPrototype">
		<xs:annotation>
			<xs:documentation>Component Prototype - Attributes: name, &quot;next&quot; prototype, final yes/no</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="componentAttributesT">
					<xs:attribute name="name" type="componentNameT" use="required"/>
					<xs:attribute name="prototypeName" type="componentNameT" use="optional"/>
					<xs:attribute name="finalPrototype" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- COMPONENT SERVICE INSTANCES-->
	<xs:complexType name="CSIAttributesT">
		<xs:annotation>
			<xs:documentation> CSI Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nameValueList" type="nameValueListT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Generic name / value list for CSI-specific parameters. Typically prototypes define only the parameter names while descriptors also have parameter value strings added.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorExtensions" type="vendorExtensionsT" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CSIPrototype">
		<xs:annotation>
			<xs:documentation> Component Service Instance  Prototype - Attributes: name, &quot;next&quot; prototype, base yes/no</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="paramNameListT">
					<xs:attribute name="name" type="CSINameT" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- SERVICE UNITS-->
	<xs:complexType name="SUAttributesT">
		<xs:annotation>
			<xs:documentation>Service Unit Prototype Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="adminstate" type="AdminstateT" default="unlocked" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates whether the service unit shall be started into the locked state by default or not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SUFailover" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If true, the failover of a component within the SU causes a failover of the entire SU. This makes only sense for SUs in N-Way or N+M SGs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorExtensions" type="vendorExtensionsT" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SUPrototype">
		<xs:annotation>
			<xs:documentation>Service Unit Prototype - Attributes: name,  final yes/no</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SUAttributes" type="SUAttributesT" minOccurs="0"/>
				<xs:element name="componentPrototypeList" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A list of component prototype elements within the service unit prototype.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="componentPrototype" type="componentNameT" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Component prototype names</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="SUNameT" use="required"/>
			<xs:attribute name="finalPrototype" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="extSUInstance">
		<xs:annotation>
			<xs:documentation>Descriptor for an external service unit Instance</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SUAttributes" type="SUAttributesT">
					<xs:annotation>
						<xs:documentation>Attributes of the external service unit</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="componentList">
					<xs:annotation>
						<xs:documentation>List of component descriptors of the external service unit</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="componentInstance" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Component Descriptors</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="componentAttributes" type="componentAttributesT">
											<xs:annotation>
												<xs:documentation>Component Attributes</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="componentNameT" use="required"/>
									<xs:attribute name="level" type="xs:nonNegativeInteger" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="SUNameT" use="required"/>
		</xs:complexType>
	</xs:element>
	<!-- SERVICE INSTANCES -->
	<xs:element name="SIInstance">
		<xs:annotation>
			<xs:documentation>Service Instance Instance</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CSIList">
					<xs:annotation>
						<xs:documentation>List of CSI descriptors which comprise the SI</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CSIInstance" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Component Service Instance Descriptor</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="prototypeName" type="CSINameT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The name of the CSI prototype which the descriptor is based on.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CSIAttributes" type="CSIAttributesT">
											<xs:annotation>
												<xs:documentation>CSI descriptor attributes (overriding the prototype attributes if a prototypeName is specified)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="CSINameT" use="required"/>
									<xs:attribute name="rank" type="xs:nonNegativeInteger" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SURankList" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ranking list of SUs for SI assignments. This attribute has lower precedence than the SG redundancy parameters.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="SU" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>SU names and order numbers</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="SUName" type="SUNameT"/>
									<xs:attribute name="rank" type="xs:nonNegativeInteger"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="preferredNumOfAssignments" type="xs:unsignedShort" default="1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The Preferred number of active assignment per SI in N-Way active and Preferred number of standby assignments per SI in N-Way redundancy model.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="vendorExtensions" type="vendorExtensionsT" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="SINameT" use="required">
				<xs:annotation>
					<xs:documentation>The name of the service instance.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- SERVICE GROUPS -->
	<xs:complexType name="redundancyModelT">
		<xs:annotation>
			<xs:documentation>The Different Redundancy Models</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="model_2N">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SURankList" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The &quot;preferred&quot; active/standby configuration of service units. </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SU" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Attributes: service unit name and SU order number</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="SUName" type="SUNameT" use="required"/>
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="numPrefInserviceSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number  of instantiated service units. If &gt; 2, one or more service units are &quot;spare&quot;</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failbackOption" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Determines whether service units of this group fail back to the preferred configuration or not</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="model_NplusM">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SURankList" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The preferred order of SUs for active/standby assignments</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SU" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Attributes: service unit name and order number</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="SUName" type="SUNameT" use="required"/>
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="numPrefInserviceSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number of instantiated SUs</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="numPrefActiveSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number  of active SUs (the &quot;N&quot; from &quot;N+M&quot;)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="numPrefStandbySUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number of standby SUs (the &quot;M&quot; from &quot;N+M&quot;)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maxActiveSIsperSU" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of active SIs per SU (0 = no limit)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maxStandbySIsperSU" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of standby SIs per SU (0 = no limit)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failbackOption" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Determines whether service units of this group fail back to the preferred configuration or not</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="model_NWay">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SURankList" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The preferred order of SUs for active/standby assignments</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SU" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Attributes: service unit  name and order number </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="SUName" type="SUNameT" use="required"/>
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="numPrefInserviceSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number of instantiated SUs</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="numPrefAssignedSUs" type="xs:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The preferred number of  SUs with assigned SIs</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maxActiveSIsperSU" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of active SIs per SU (0 = no limit)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maxStandbySIsperSU" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of standby SIs per SU (0 = no limit)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failbackOption" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Determines whether service units of this group fail back to the preferred configuration or not</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="model_NWayActive">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SURankList" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The &quot;preferred&quot; active/standby configuration of service units. </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SU" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Attributes: service unit name and SU order number</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="SUName" type="SUNameT" use="required"/>
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="numPrefInserviceSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number  of instantiated service units. If &gt; 2, one or more service units are &quot;spare&quot;</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="numPrefAssignedSUs" type="xs:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The preferred number of  SUs with assigned SIs</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="maxActiveSIsperSU" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maximum number of active SIs per SU (0 = no limit)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failbackOption" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Determines whether service units of this group fail back to the preferred configuration or not</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="noRedundancy">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SURankList" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The &quot;preferred&quot; active/standby configuration of service units. </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SU" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Attributes: service unit name and SU order number</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="SUName" type="SUNameT" use="required"/>
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="numPrefInserviceSUs" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The preferred number  of instantiated service units. If &gt; 2, one or more service units are &quot;spare&quot;</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failbackOption" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Determines whether service units of this group fail back to the preferred configuration or not</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SGErrorEscalationT">
		<xs:annotation>
			<xs:documentation>Error Escalation Parameters - must be consistent with the restart properties of the components and service units</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="componentRestartMax" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Maximum number of components to be restarted for a COMPONENT_RESTART recovery</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="componentRestartProbation" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Time period during which the AMF counts the number of components to be restarted within a COMPONENT_RESTART recovery</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SURestartMax" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Maximum number of service units to be restarted for a SU_RESTART recovery</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SURestartProbation" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Time period during which the AMF counts the number of service units to be restarted within a SU_RESTART recovery</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SGInstance">
		<xs:annotation>
			<xs:documentation>Service Group Instance</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="redundancyModel" type="redundancyModelT">
					<xs:annotation>
						<xs:documentation>Used redundancy model and parameters which describe it in detail</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SGErrorEscalation" type="SGErrorEscalationT">
					<xs:annotation>
						<xs:documentation>Parameters which control component and service unit restarts after an error which requires restarts </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SIList">
					<xs:annotation>
						<xs:documentation>List of SI descriptor names which may be assigned to the service group</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SI" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>This the ranked SI list</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="SINameT">
											<xs:attribute name="rank" type="xs:nonNegativeInteger" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="vendorExtensions" minOccurs="0">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="vendorExtensionsT">
								<xs:sequence>
									<xs:element name="isNCS" type="xs:boolean" default="0" minOccurs="0"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="SGNameT" use="required">
				<xs:annotation>
					<xs:documentation>The name of the service group.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- NODES -->
	<xs:complexType name="nodeErrorEscalationT">
		<xs:annotation>
			<xs:documentation>Node-specific Error Escalation Parameters</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SUFailoverMax" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Maximum number of service units to be failed over for a SU_FAILOVER recovery</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SUFailoverProbation" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Time period during which the AMF counts the number of service units to be failed over within a SU_FAILOVER recovery</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nodeAttributesT">
		<xs:annotation>
			<xs:documentation>Node Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nodeErrorEscalation" type="nodeErrorEscalationT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Node-specific error escalation parameters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adminstate" type="AdminstateT" default="unlocked" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Determines whether all SUs on the node are started into the &quot;locked&quot; state</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorExtensions" type="vendorExtensionsT" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="nodePrototype">
		<xs:annotation>
			<xs:documentation>Cluster Node Prototype - Attribute: name</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nodeAttributes" type="nodeAttributesT" minOccurs="0"/>
				<xs:element name="SUFinalPrototypeList" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List of names of SU final prototypes which can be instantiated on the node</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SUFinalPrototype" type="SUNameT" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="nodeNameT" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nodeInstance">
		<xs:annotation>
			<xs:documentation>Cluster node Instance</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="prototypeName" type="nodeNameT" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The name of the prototype which the descriptor is based on.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nodeAttributes" type="nodeAttributesT" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Node attributes - If a node prototypeName is specified, these attributes override the ones from the prototype. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SUList" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List of service unit descriptors for the node. </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SUInstance" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Service Unit Descriptor</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="prototypeName" type="SUNameT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Service unit prototype name</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SUAttributes" type="SUAttributesT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Service Unit Attributes - If a service unit prototypeName is specified, these attributes override the ones from the prototype.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="componentList" minOccurs="0">
											<xs:annotation>
												<xs:documentation>List of component descriptors for the service unit. </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="componentInstance" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Component Descriptors</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="prototypeName" type="componentNameT" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Component prototype name</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="componentAttributes" type="componentAttributesT" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Component Attributes - If a component prototypeName is specified, these attributes override the ones from the prototype.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name" type="componentNameT" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="SUNameT" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="nodeNameT" use="required">
				<xs:annotation>
					<xs:documentation>The name of the node.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nodeID" use="required">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>The numeric identifier of the node.</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:hexBinary">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- ROOT ELEMENT-->
	<xs:element name="AMFConfig">
		<xs:annotation>
			<xs:documentation>Root Element for the SAF Configuration</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="componentPrototype" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CSIPrototype" maxOccurs="unbounded"/>
				<xs:element ref="SUPrototype" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SIInstance" maxOccurs="unbounded"/>
				<xs:element ref="SGInstance" maxOccurs="unbounded"/>
				<xs:element ref="nodePrototype" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="nodeInstance" maxOccurs="unbounded"/>
				<xs:element name="vendorExtensions" minOccurs="0">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="vendorExtensionsT">
								<xs:sequence>
									<xs:element name="NCSScalars" minOccurs="0">
										<xs:annotation>
											<xs:documentation>NCS specific scalar mib configuration</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="sndHbInt" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>AVD to AVND heartbeat interval</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="rcvHbInt" type="xs:nonNegativeInteger">
													<xs:annotation>
														<xs:documentation>Avnd to AVD </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="clusterInitTime" type="xs:nonNegativeInteger" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Amount of time AVD waits during cluster initialisation before assigning SIs to SUs</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="cluster" type="xs:Name" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="paramNameListT">
		<xs:annotation>
			<xs:documentation>General Param Name List for CSI Attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ParamName" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:Name" use="required">
						<xs:annotation>
							<xs:documentation>The name of a generic component parameter.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SystemConfig">
		<xs:annotation>
			<xs:documentation>Root Element for System Configuration/Description</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NCSConfig" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Root element for the software Config</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AISConfig" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Configuration information pertaining to SAF AIS objects</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="AMFConfig" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Hardware-Deployment-Config" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The hardware configuration information capturing the containment hierarchy.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="EntityDeploymentInstance"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="AdminstateT">
		<xs:annotation>
			<xs:documentation>Data Type for the default initial admin state of an object</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="locked"/>
			<xs:enumeration value="unlocked"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
